<ion-view title="Home">
    <ion-content padding="true" class="has-header bg-light">
        <div class="list ">
            <div class="item item-categories no-padding no-border bg-clear">
                <div style="height:{{itemBoxSize}}px; width:{{itemBoxSize}}px;" class="item-box text-center">
                    <div class="table-box">
                        <div ng-click="book(list[8].service_id,list[8].price,list[8].service_name)" style="height:{{itemBoxSize}}px;" class="table-cell v-mid item-box-content">
                            <img style="height:{{itemBoxImgSize}}px;width:{{itemBoxImgSize}}px " src="img/icons/carpet.png ">
                            <p class="cat-name">Deep Cleaning</p>
                        </div>
                    </div>
                </div>
                <div style="height:{{itemBoxSize}}px; width:{{itemBoxSize}}px;" class="item-box text-center">
                    <div class="table-box">
                        <div ng-click="book(list[1].service_id,list[1].price,list[1].service_name)" style="height:{{itemBoxSize}}px;" class="table-cell v-mid  item-box-content ">
                            <img style="height:{{itemBoxImgSize}}px;width:{{itemBoxImgSize}}px " src="img/icons/cleaning.png ">
                            <p class="cat-name">Cleaning</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item-categories no-padding no-border bg-clear">
                <div style="height:{{itemBoxSize}}px; width:{{itemBoxSize}}px;" class="item-box text-center">
                    <div class="table-box">
                        <div ng-click="book(list[0].service_id,list[0].price,list[0].service_name)" style="height:{{itemBoxSize}}px;" class="table-cell v-mid item-box-content">
                            <img style="height:{{itemBoxImgSize}}px;width:{{itemBoxImgSize}}px " src="img/icons/handyman.png ">
                            <p class="cat-name">Handyman</p>
                        </div>
                    </div>
                </div>
                <div style="height:{{itemBoxSize}}px; width:{{itemBoxSize}}px;" class="item-box text-center">
                    <div class="table-box">
                        <div ng-click="book(list[7].service_id,list[7].price,list[7].service_name)" style="height:{{itemBoxSize}}px;" class="table-cell v-mid  item-box-content ">
                            <img style="height:{{itemBoxImgSize}}px;width:{{itemBoxImgSize}}px " src="img/icons/gardening.png ">
                            <p class="cat-name"> Gardening</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item-categories no-padding no-border bg-clear">
                <div style="height:{{itemBoxSize}}px; width:{{itemBoxSize}}px;" class="item-box text-center">
                    <div class="table-box">
                        <div ng-click="book(list[6].service_id,list[6].price,list[6].service_name)" style="height:{{itemBoxSize}}px;" class="table-cell v-mid item-box-content">
                            <img style="height:{{itemBoxImgSize}}px;width:{{itemBoxImgSize}}px " src="img/icons/home.png ">
                            <p class="cat-name">Home Organizer</p>
                        </div>
                    </div>
                </div>
                <div style="height:{{itemBoxSize}}px; width:{{itemBoxSize}}px;" class="item-box text-center">
                    <div class="table-box">
                        <div ng-click="book(list[5].service_id,list[5].price,list[5].service_name)" style="height:{{itemBoxSize}}px;" class="table-cell v-mid  item-box-content ">
                            <img style="height:{{itemBoxImgSize}}px;width:{{itemBoxImgSize}}px " src="img/icons/plumbing.png ">
                            <p class="cat-name"> Light Plumbing</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item-categories no-padding no-border bg-clear">
                <div style="height:{{itemBoxSize}}px; width:{{itemBoxSize}}px;" class="item-box text-center">
                    <div class="table-box">
                        <div ng-click="book(list[9].service_id,list[9].price,list[9].service_name)" style="height:{{itemBoxSize}}px;" class="table-cell v-mid item-box-content">
                            <img style="height:{{itemBoxImgSize}}px;width:{{itemBoxImgSize}}px " src="img/icons/van.png ">
                            <p class="cat-name">Man with Van</p>
                        </div>
                    </div>
                </div>
                <div style="height:{{itemBoxSize}}px; width:{{itemBoxSize}}px;" class="item-box text-center">
                    <div class="table-box">
                        <div ng-click="book(list[2].service_id,list[2].price,list[2].service_name)" style="height:{{itemBoxSize}}px;" class="table-cell v-mid  item-box-content ">
                            <img style="height:{{itemBoxImgSize}}px;width:{{itemBoxImgSize}}px " src="img/icons/moving.png ">
                            <p class="cat-name"> Moving</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item-categories no-padding no-border bg-clear">
                <div style="height:{{itemBoxSize}}px; width:{{itemBoxSize}}px;" class="item-box text-center">
                    <div class="table-box">
                        <div ng-click="book(list[4].service_id,list[4].price,list[4].service_name)" style="height:{{itemBoxSize}}px;" class="table-cell v-mid item-box-content">
                            <img style="height:{{itemBoxImgSize}}px;width:{{itemBoxImgSize}}px " src="img/icons/painting.png ">
                            <p class="cat-name">Painting & Decoration</p>
                        </div>
                    </div>
                </div>
                <div style="height:{{itemBoxSize}}px; width:{{itemBoxSize}}px;" class="item-box text-center">
                    <div class="table-box">
                        <div ng-click="book(list[3].service_id,list[3].price,list[3].service_name)" style="height:{{itemBoxSize}}px;" class="table-cell v-mid  item-box-content ">
                            <img style="height:{{itemBoxImgSize}}px;width:{{itemBoxImgSize}}px " src="img/icons/driving.png">
                            <p class="cat-name"> Drive, Collect
                                <br> and Deliver</p>
                        </div>
                    </div>
                </div>
            </div>
                 <div class="item item-categories no-padding no-border bg-clear">
                <div style="height:{{itemBoxSize}}px; width:{{itemBoxSize}}px;" class="item-box text-center">
                    <div class="table-box">
                        <div ng-click="book(list[11].service_id,list[11].price,list[11].service_name)" style="height:{{itemBoxSize}}px;" class="table-cell v-mid item-box-content">
                            <img style="height:{{itemBoxImgSize}}px;width:{{itemBoxImgSize}}px " src="img/icons/mounting.png ">
                            <p class="cat-name">Mounting & Installation</p>
                        </div>
                    </div>
                </div>
                <div style="height:{{itemBoxSize}}px; width:{{itemBoxSize}}px;" class="item-box text-center">
                    <div class="table-box">
                        <div ng-click="book(list[10].service_id,list[10].price,list[10].service_name)" style="height:{{itemBoxSize}}px;" class="table-cell v-mid  item-box-content ">
                            <img style="height:{{itemBoxImgSize}}px;width:{{itemBoxImgSize}}px " src="img/icons/movingcar.png">
                            <p class="cat-name">Moving with car
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </ion-content>
</ion-view>
