<ion-view hide-back-button="true" title="Profile" id="page4" style="">
    <ion-nav-buttons side="left">
        <button ng-click="ionicBack()" class="button button-clear button-icon">
            <i class="icon ion-android-arrow-back">
        </i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-if="showpencil" ng-click="updateProfile(profile)" class="button button-clear button-icon">
            <i class="icon">
            <img class="ic_edit"  src="img/icons/ic_edit.png">
        </i>
        </button>
    </ion-nav-buttons>
    <ion-content padding="false" class="has-header">
        <div class="table-box">
            <div style="height:{{profileImgBoxSize}}px" class="table-cell v-mid profile-image-box">
                <div ng-click="actionsheetcustomer(imagedataprofile)" class="profile-pic">
                    <img ng-if="!imagedataprofile" class="full-image" src="img/user.jpg">
                    <img ng-if="imagedataprofile" ng-model="imagedataprofile" class="full-image" ng-src="{{imagedataprofile}}">
                </div>
            </div>
        </div>
        <div class="list padding-horizontal ">
            <label class="item item-input item-stacked-label border-bottom">
                <span class="input-label">First Name</span>
                <input ng-change='alert()' ng-model="profile.first_name" type="text" placeholder="">
            </label>
            <label class="item item-input item-stacked-label border-bottom">
                <span class="input-label">Email</span>
                <input readonly="true" ng-model="profile.user_email" type="email" placeholder="">
            </label>
            <label class="item item-input item-stacked-label no-border">
                <span class="input-label">Address</span>
                <textarea ng-change='alert()' ng-model="profile.address" rows="1" class="no-border no-resize" placeholder=""></textarea>
            </label>
        </div>
    </ion-content>
    <style type="text/css">
    .bar.bar-positive {
        border: none !important;
    }
    </style>
</ion-view>
