<ion-view title="Completed Services">
    <ion-content padding="true" class="has-header bg-light">
        <div data-ng-repeat="data in jobdata" class="list card service-card no-padding">
            <div class="item item-avatar item-service item-text-wrap">
                <img ng-if="!data.alocate_user.image" src="img/user.jpg">
                <img ng-if="data.alocate_user.image" ng-src="{{data.alocate_user.image}}">
                <h2>{{data.alocate_user.first_name}} {{data.alocate_user.last_name}}</h2>
                <!--<p class="text-parrot item-text-wrap">{{data.address}}</p>-->
                <div class="price-status">
                    <h2> £{{data.invoice[0].total_price | number:2}}</h2>
                    <p style="color: #01c8eb !important;" class="text-parrot">Completed</p>
                </div>
            </div>
            <div class="service-details">
                <div class="item item-icon-left text-break">
                    <i class="icon">
                        <img class="ic-list" src="img/icons/ic_service.png">
                    </i> Service: <span>{{data.service.service_name}} £{{data.service.price}} {{data.invoice[0].no_of_hour}} Hours Worked = £{{data.invoice[0].no_of_hour * data.service.price | number:2}}</span>
                </div>
                <div ng-if="data.invoice[0].additional" class="item item-icon-left text-break">
                    <i class="icon ion-cash ic_cash">
                    </i> Expenses/additional : <span>£{{data.invoice[0].additional}}</span>
                </div>

                <div class="item item-icon-left text-break">
                    <i class="icon">
                        <img class="ic-list" src="img/icons/ic_location.png">
                    </i> Address: <span>{{data.address}}</span>
                </div>
                
                <div class="item item-icon-left text-break">
                    <i class="icon">
                        <img class="ic-list" src="img/icons/ic_clock.png">
                    </i> <b>Service Time</b>: <span class="text-positive">{{data.booking_time_new}}</span>
                </div>
                <div class="service-box-button">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>