<ion-view title="Change Password" id="" style="">
    <ion-content padding="true" class="has-header">
        <div class="table-box">
            <div style="height:{{customerHomeScreenHeight}}px" class="table-cell v-mid">
                <div class="list no-border">
                    <div class="item  no-border">
                        <span class="input-label">Current Password</span>
                        <input class="app-input" ng-model="password.current" type="password" placeholder="">
                        <span class="input-label">New Password</span>
                        <input class="app-input" ng-model="password.new_current" type="password" placeholder="">
                        <span class="input-label">Confirm Password</span>
                        <input class="app-input" ng-model="password.con_current" type="password" placeholder="">
                    </div>
                    <br>
                    <br>
                    <div class="item  no-border">
                        <button ng-click="changePassword(password)" class="button button-block button-energized">
                            Done
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
