<ion-view title="Home">
    <ion-content padding="true" class="has-header bg-light">
        <div class="list ">
            <div class="item item-categories no-padding no-border bg-clear">
                <div style="height:{{itemBoxSize}}px; width:{{itemBoxSize}}px;" class="item-box text-center">
                    <div class="table-box">
                        <div ng-click="book(list[0].service_id)" style="height:{{itemBoxSize}}px;" class="table-cell v-mid item-box-content">
                            <img style="height:{{itemBoxImgSize}}px;width:{{itemBoxImgSize}}px " src="img/icons/carpet.png ">
                            <p class="cat-name">Carpet Cleaning</p>
                        </div>
                    </div>
                </div>
                <div style="height:{{itemBoxSize}}px; width:{{itemBoxSize}}px;" class="item-box text-center">
                    <div class="table-box">
                        <div ng-click="book(list[1].service_id)" style="height:{{itemBoxSize}}px;" class="table-cell v-mid  item-box-content ">
                            <img style="height:{{itemBoxImgSize}}px;width:{{itemBoxImgSize}}px " src="img/icons/cleaning.png ">
                            <p class="cat-name"> Cleaning</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item-categories no-padding no-border bg-clear">
                <div style="height:{{itemBoxSize}}px; width:{{itemBoxSize}}px;" class="item-box text-center">
                    <div class="table-box">
                        <div ng-click="book(list[2].service_id)" style="height:{{itemBoxSize}}px;" class="table-cell v-mid item-box-content">
                            <img style="height:{{itemBoxImgSize}}px;width:{{itemBoxImgSize}}px " src="img/icons/handyman.png ">
                            <p class="cat-name">Handyman</p>
                        </div>
                    </div>
                </div>
                <div style="height:{{itemBoxSize}}px; width:{{itemBoxSize}}px;" class="item-box text-center">
                    <div class="table-box">
                        <div ng-click="book(list[3].service_id)" style="height:{{itemBoxSize}}px;" class="table-cell v-mid  item-box-content ">
                            <img style="height:{{itemBoxImgSize}}px;width:{{itemBoxImgSize}}px " src="img/icons/gardening.png ">
                            <p class="cat-name"> Gardning</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item-categories no-padding no-border bg-clear">
                <div style="height:{{itemBoxSize}}px; width:{{itemBoxSize}}px;" class="item-box text-center">
                    <div class="table-box">
                        <div ng-click="book(list[4].service_id)" style="height:{{itemBoxSize}}px;" class="table-cell v-mid item-box-content">
                            <img style="height:{{itemBoxImgSize}}px;width:{{itemBoxImgSize}}px " src="img/icons/home.png ">
                            <p class="cat-name">Home Organizer</p>
                        </div>
                    </div>
                </div>
                <div style="height:{{itemBoxSize}}px; width:{{itemBoxSize}}px;" class="item-box text-center">
                    <div class="table-box">
                        <div ng-click="book(list[5].service_id)" style="height:{{itemBoxSize}}px;" class="table-cell v-mid  item-box-content ">
                            <img style="height:{{itemBoxImgSize}}px;width:{{itemBoxImgSize}}px " src="img/icons/plumbing.png ">
                            <p class="cat-name"> Light Plumbing</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item-categories no-padding no-border bg-clear">
                <div style="height:{{itemBoxSize}}px; width:{{itemBoxSize}}px;" class="item-box text-center">
                    <div class="table-box">
                        <div ng-click="book(list[6].service_id)" style="height:{{itemBoxSize}}px;" class="table-cell v-mid item-box-content">
                            <img style="height:{{itemBoxImgSize}}px;width:{{itemBoxImgSize}}px " src="img/icons/van.png ">
                            <p class="cat-name">Man with Van</p>
                        </div>
                    </div>
                </div>
                <div style="height:{{itemBoxSize}}px; width:{{itemBoxSize}}px;" class="item-box text-center">
                    <div class="table-box">
                        <div ng-click="book(list[7].service_id)" style="height:{{itemBoxSize}}px;" class="table-cell v-mid  item-box-content ">
                            <img style="height:{{itemBoxImgSize}}px;width:{{itemBoxImgSize}}px " src="img/icons/moving.png ">
                            <p class="cat-name"> Moving</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item-categories no-padding no-border bg-clear">
                <div style="height:{{itemBoxSize}}px; width:{{itemBoxSize}}px;" class="item-box text-center">
                    <div class="table-box">
                        <div ng-click="book(list[8].service_id)" style="height:{{itemBoxSize}}px;" class="table-cell v-mid item-box-content">
                            <img style="height:{{itemBoxImgSize}}px;width:{{itemBoxImgSize}}px " src="img/icons/painting.png ">
                            <p class="cat-name">Painting & Decoration</p>
                        </div>
                    </div>
                </div>
                <div style="height:{{itemBoxSize}}px; width:{{itemBoxSize}}px;" class="item-box text-center">
                    <div class="table-box">
                        <div ng-click="book(list[8].service_id)" style="height:{{itemBoxSize}}px;" class="table-cell v-mid  item-box-content ">
                            <img style="height:{{itemBoxImgSize}}px;width:{{itemBoxImgSize}}px " src="img/icons/moving.png ">
                            <p class="cat-name"> Driving, Collection
                                <br> and Delivery</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </ion-content>
</ion-view>
