<ion-view title="Change Password" id="" style="">
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="goback()">
            <i class="icon ion-android-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <div class="table-box">
            <div style="height:{{customerHomeScreenHeight}}px" class="table-cell v-mid">
                <form name="userForm" ng-submit="changePassword(userForm,Current,New,Confirm)" novalidate>
                    <div class="list no-border">
                        <div class="item  no-border">
                            <span class="input-label">Current Password</span>
                            <input ng-model="Current" name="Current" class="app-input" type="password" placeholder="" required>
                            <div ng-if=" (userForm.Current.$invalid == true && userForm.Current.$touched == true) || userForm.$submitted " style="color:red ">
                                <div ng-messages="userForm.Current.$error " style="color:red ">
                                    <div ng-message="required ">Current Password is required</div>
                                </div>
                            </div>
                            <span class="input-label">New Password</span>
                            <input ng-model="New" name="New" class="app-input" type="password" placeholder="" required>
                            <div ng-if=" (userForm.New.$invalid == true && userForm.New.$touched == true) || userForm.$submitted " style="color:red ">
                                <div ng-messages="userForm.New.$error " style="color:red ">
                                    <div ng-message="required ">New Password is required</div>
                                </div>
                            </div>
                            <span class="input-label">Confirm Password</span>
                            <input ng-model="Confirm" name="Confirm" class="app-input" type="password" placeholder="" required>
                            <div ng-if=" (userForm.Confirm.$invalid == true && userForm.Confirm.$touched == true) || userForm.$submitted " style="color:red ">
                                <div ng-messages="userForm.Confirm.$error " style="color:red ">
                                    <div ng-message="required ">Confirm Password is required</div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="item  no-border">
                            <button type="submit" class="button button-block button-energized">
                                Done
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
