<ion-view title="Forgot Password" id="" style="">
    <ion-content padding="true" class="has-header">
        <div class="table-box">
            <div style="height:{{customerHomeScreenHeight}}px" class="table-cell v-mid">
                <div class="list no-border">
                    <div class="item  no-border ">
                        <div class="forgot-ico">
                            <img src="img/icons/ic_email_box.png">
                        </div>
                        <br>
                        <p class="text-dark text-center">Enter your email below to receive your
                            <br> password reset instructions </p>
                        <br>
                        <input class="app-input" ng-model="email" type="email" placeholder="Email">
                        <br>
                        <button ng-click="forgotPassword(email)" class="button button-block button-energized">
                            Done
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
