<ion-view title="Sign Up" id="page2" style="">
    <ion-content padding="true" class="has-header">
        <div class="list no-border">
            <label class="item  no-border">
                <span class="input-label">Experiance</span>
                <input class="app-input" type="text" placeholder="in years">
                <div class="relative  placeholder-icon-input">
                    <span class="input-label ">Skills </span>
                    <i class="icon ion-ios-arrow-down"></i>
                    <input class="app-input " placeholder="Skill" type="text">
                </div>
                <span class="input-label">Bank Name</span>
                <input class="app-input" type="text" placeholder="********">
                <span class="input-label">Bank Account Number</span>
                <input class="app-input" type="tel" placeholder="123456">
                <span class="input-label">Bank Short Code</span>
                <input class="app-input" type="tel" placeholder="123456">
                <div class="login-btn">
                    <br>
                    <button class="button button-block button-energized">
                        Done
                    </button>
                </div>
            </label>
        </div>
    </ion-content>
</ion-view>
