<ion-view title="Sign Up" id="page2" style="">
    <ion-content padding="true" class="has-header">
        <div class="list no-border">
            <label class="item  no-border">
                <span class="input-label">First Name</span>
                <input class="app-input" type="text" placeholder="Jonny ">
                <span class="input-label">Surname</span>
                <input class="app-input" type="text" placeholder="Bravo">
                <span class="input-label">Email</span>
                <input class="app-input" type="email" placeholder="abc@example.com">
                <span class="input-label">Password</span>
                <input class="app-input" type="password" placeholder="********">
                <span class="input-label">Confirm Password</span>
                <input class="app-input" type="password" placeholder="********">
                <span class="input-label">Phone Number </span>
                <input class="app-input" type="tel" placeholder="123456789">
                <span class="input-label">Address </span>
                <input class="app-input" type="text" placeholder=" Britania Street , London">
                <span class="input-label">Nationality </span>
                <input class="app-input" type="text" placeholder="British">
                <div class="relative  placeholder-icon-input">
                    <span class="input-label ">Date of Birth </span>
                    <i class="icon ion-ios-calendar-outline"></i>
                    <input class="app-input " type="text">
                </div>
                <div class="login-btn">
                    <br>
                    <button class="button button-block button-energized">
                        Next
                    </button>
                </div>
            </label>
        </div>
    </ion-content>
</ion-view>
